@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    padding: 30px 50px;
    font-family: "Roboto", serif;
}
.sticky-bar{
    height: 6vh;
    width: 100%;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    display: grid;
    color: #0d1421;
    border-top: 1px solid rgba(200, 200, 200, 0.903);
    border-bottom: 1px solid rgba(200, 200, 200, 0.903);
    font-weight: bold;
    align-items: center;
    grid-template-columns: [margin]10% [rank]6% [name]20% [price]20% [changes]10% [mcap]20%;
}

.price-box{
    height: 750vh;
    width: 100%;
}

.grid-template {
    height: 10vh;
    width: 100%;;
    display: grid;
    grid-template-columns: [margin]10% [rank]6% [name]20% [price]20% [changes]10% [mcap]20%;    
    border-bottom: 1px solid rgba(200, 200, 200, 0.903);
    align-items: center;
    transition: all ease-out 0.3s;
}
.grid-template:hover{
    background-color: rgb(217, 217, 217);
    cursor: pointer;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        gap: 20px;
        font-weight: bold;
    }
}

/* .visiblity{
    display: none;
} */
@media (max-width: 900px) {
    .visiblity{
        display: none;
    }
}

@media (max-width: 600px) {
    .sticky-bar{
        grid-template-columns: [margin]2% [rank]7% [name]40% [price]40% [changes]10% [mcap]1%;
    }
    .grid-template{
        grid-template-columns: [margin]2% [rank]7% [name]40% [price]40% [changes]10% [mcap]1%;
 
    }
}